// Aqui ponemos las configuraciones globales de la aplicacion

//Colors
$primary: #293241;
$dark-orange: #ee6c4d;
$light-blue: #e0fbfc; 
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;